mixin list(data, className)
	if ( className != undefined )
		ul(class=className)
			each item in data
				li
					img(src=item.img)
					.list__items!=item.title
	else
		ul
			each item in data
				li
					img(src=item.img)
					.list__items!=item.title

mixin block(data)
	.main-block__wrapp
		each item in data
			.main-block
				.main-block__img
					img(src=item.img)
				.main-block__text!=item.text
				.main-block__content
					.main-block__buttom!=item.but
					.main-block__span!=item.sp

mixin block-bot(data)
	.bloc-col__bot
		each item in data 
			.block-bott
				.block-bott__wrapper
					.block-bott__headline!=item.headline
					.block-bott__text!=item.text
				.block-bott__account
					.block-bott__afatar
						img(src=item.img)
					.block-bott__wrap
						.block-bott__name!=item.name
						.block-bott__position!=item.pos

