mixin list(data, className)
	if ( className != undefined )
		ul(class=className)
			each item in data
				li
					img(src=item.img)
					.list__items!=item.title
						if span
							span.span__items!=item.spa
						else 
							span!=item.spa
	else
		ul
			each item in data
				li
					img(src=item.img)
					.list__items!=item.title
						if span
							span.span__items!=item.spa
						else 
							span!=item.spa

mixin block(data)
	.main-block__wrapp
		each item in data
			.main-block
				.main-block__img
					img(src=item.img)
				.main-block__text!=item.text
				.main-block__content
					.main-block__buttom!=item.but
					.main-block__span!=item.sp

